<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32100">
        <setting label="32101" type="select"   id="driver" default="alphacool" values="usbserlcd|alphacool|sdcmegtron|avrctl|ax206dpf|dm140gink|framebuffer|g15daemon|gu126x64D-K610A4|gu140x32f|gu256x64-372|gu256x64-3900|hd61830|ili9341|image|ks0108|network|noritake800|sed1330|sed1520|serdisp|simlcd|ssd1306|t6963c|vncserver"/>
        <setting label="32102" type="select"   id="skin" default="default" values="default"/>
    </category>
    <category label="32200">
      <setting label="32201" type="slider" id="brightness" default="100" range="0,1,100" option="percent"/>
      <setting label="32203" type="slider" id="brightness_video" default="80" range="0,1,100" option="percent"/>
      <setting label="32202" type="slider" id="brightness_screensave" default="60" range="0,1,100" option="percent"/>
    </category>
    <category label="32300">
      <setting id="scrollmode" type="enum" label="32301" lvalues="32302|32303|32304" default="2" />
      <setting label="32305" type="slider" id="scrollspeed" default="2" range="1,1,10" option="int"/>
      <setting label="32306" type="slider" id="scrolltime" default="500" range="100,1,2000" option="int"/>
    </category>
</settings>
